In [1]:
import pandas as pd

from combine_impex_data import *

This notebook uses a script to process data from Impex. The main reason for this notebook: Switzerland has a tariff quota No. 27 which affects imports and exports. This quota can be exceeded, but the way Impex structures their data, imports and exports within and outside of the quota are separated. We therefore needed a script to quickly aggregate the data for a given food item into one sheet.

This script also comes in handy when a food item that is considered as one item in the FAO data is broken down into multiple sub-classes in Impex. Take, for example, rice. Impex has 5 types of rice: rice in the husk, brown rice, wild rice, semi-milled rice, and broken rice. Since FAO only has "rice", we combine all of these types of rice here to make comparison to FAO data easier later on. 

Note that each data sheet has to be selected by hand, since the numbers corresponding to food categories are unpredictable. Also, some food items are not broken down by within and outside of the quota, so they would not need to be combined. Hence, the combinations that are necessary are done here, and then the final datasheets that are read into the project notebook are assembled by hand from the datasheets that this notebook creates.

---

# Human Cereals

### Wheat

In [2]:
durum_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1001.1921')
durum_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1001.1929')

In [3]:
durum = merge_two_sheets(durum_1, durum_2)
durum.head()

,Commercial Partner,Import Quantity (kg),Import Value (CHF),Import Value +/- %,Export Quantity (kg),Export Value (CHF),Export Value +/- %
0,Total trade,68541498.0,28219190.0,40.0,27101.0,8144.0,-99.5
14,Algeria,1120.0,369.0,0.0,0.0,0.0,0.0
1,Austria,4163617.0,1481970.0,-0.1,27100.0,8139.0,0.0
15,Belgium,12.0,52.0,0.0,0.0,0.0,-100.0
2,Canada,55255345.0,23182156.0,1.0,0.0,0.0,0.0

In [4]:
meslin_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1001.9921')
meslin_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1001.9929')

In [5]:
meslin = merge_two_sheets(meslin_1, meslin_2)

In [6]:
wheat = merge_two_sheets(durum, meslin)
wheat.head()

,Commercial Partner,Import Quantity (kg),Import Value (CHF),Import Value +/- %,Export Quantity (kg),Export Value (CHF),Export Value +/- %
0,Total trade,214029783.0,85459409.0,84.6,192496.0,54783.0,-105.6
1,Algeria,1120.0,369.0,0.0,0.0,0.0,0.0
17,Argentina,11787245.0,6352892.0,639.7,0.0,0.0,0.0
2,Austria,43328381.0,19346316.0,39.6,27100.0,8139.0,-100.0
3,Belgium,12.0,52.0,0.0,0.0,0.0,-100.0

In [7]:
wheat.to_excel(r'../../data/Impex/wheat.xlsx')

### Rye

In [8]:
rye_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1002.9021')
rye_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1002.9029')

In [9]:
rye = merge_two_sheets(rye_1, rye_2)
rye.to_excel(r'../../data/Impex/rye.xlsx')

### Barley

In [11]:
barley_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1003.9041')
barley_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1003.9049')

barley = merge_two_sheets(barley_1, barley_2)
barley.to_excel(r'../../data/Impex/barley.xlsx')

### Oats

In [12]:
oats_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1004.9021')
oats_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1004.9029')

oats = merge_two_sheets(oats_1, oats_2)
oats.to_excel(r'../../data/Impex/oats.xlsx')

### Maize

In [13]:
maize_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1005.9021')
maize_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1005.9029')

maize = merge_two_sheets(maize_1, maize_2)
maize.to_excel(r'../../data/Impex/maize.xlsx')

### Rice (of all types), to be correlated with "rice, paddy" from FAO

In [14]:
rice_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1006.1090')
rice_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1006.2090')
rice_3 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1006.3090')
rice_4 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1006.4090')
rice_5 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.9024')

In [15]:
rice_merge_1 = merge_two_sheets(rice_1, rice_2)
rice_merge_2 = merge_two_sheets(rice_merge_1, rice_3)
rice_merge_3 = merge_two_sheets(rice_merge_2, rice_4)
rice = merge_two_sheets(rice_merge_3, rice_5)

rice.to_excel(r'../../data/Impex/rice.xlsx')

### Sorghum

In [21]:
sorghum_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1007.9021')
sorghum_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1007.9029')

sorghum = merge_two_sheets(sorghum_1, sorghum_2)
sorghum.to_excel(r'../../data/Impex/sorghum.xlsx')

### Buckwheat

In [22]:
buckwheat_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.1021')
buckwheat_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.1029')

buckwheat = merge_two_sheets(buckwheat_1, buckwheat_2)
buckwheat.to_excel(r'../../data/Impex/buckwheat.xlsx')

### Millet

In [18]:
millet_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.2921')
millet_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.2929')

millet = merge_two_sheets(millet_1, millet_2)
millet.to_excel(r'../../data/Impex/millet.xlsx')

### Quinoa

In [19]:
quinoa_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.5021')
quinoa_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.5029')

quinoa = merge_two_sheets(quinoa_1, quinoa_2)
quinoa.to_excel(r'../../data/Impex/quinoa.xlsx')

### Cereals, nes

In [20]:
cereals_nes_1 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.9023')
cereals_nes_2 = clean_impex_dataset('../../data/Impex/human-cereals-original.xlsx', '1008.9027')

cereals_nes = merge_two_sheets(cereals_nes_1, cereals_nes_2)
cereals_nes.to_excel(r'../../data/Impex/cereals_nes.xlsx')

***

# Milk and cream